html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  min-height: 100vh;
}

body.index-page {
  background-color: #f0f0f0;
  font-size: 2.5em;
  list-style-position: inside;
}

h1 {
  font-size: 3em;
}

footer {
  margin-top: auto;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: right;
}
